[Unit]
Description=openapi-gateway-trace
After=network.target

[Service]
Type=simple
User=wbl
Group=wbl
SyslogIdentifier=openapi-gateway-trace
Restart=on-failure
Environment=JAVA_HOME=/opt/openjdk-11.0.22
ExecStart=/opt/openjdk-11.0.22/bin/java -Dspring.config.location=file:/data/openapi-trace/openapi-gateway/application.yml -jar /data/openapi-trace/openapi-gateway/openapi-gateway-0.0.1.jar

[Install]
WantedBy=multi-user.target