[Unit]
Description=elk
After=network.target

[Service]
User=wbl
Type=simple
LimitNOFILE=65536
LimitNPROC=4096
LimitMEMLOCK=infinity
Environment="ES_JAVA_HOME=/opt/jdk"
Environment="ES_TMPDIR=/data/efk/elk/tmp"
ExecStart=/opt/elasticsearch/bin/elasticsearch
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target